<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define appenders -->
    <appender name="MDCAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Use a pattern layout with MDC values -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X{request-uri:-}] [%X{request-method:-}] [%X{startTime:-}]%n</pattern>
        </encoder>
    </appender>

    <!-- Console appender configuration -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="com.colak.springlogbackpropertiestutorial.layout.MaskingPatternLayout">
            <maskPattern>password=(\w+)</maskPattern>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) ${PID} %highlight(%-5level) %-50logger{40} : %msg%n</Pattern>
        </layout>

        <!-- Instead of encoder use a layout to mask sensitive data -->
        <!-- <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> -->
        <!--     <layout class="com.colak.springlogbackpropertiestutorial.layout.MaskingPatternLayout"> -->
        <!--         <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) ${PID} %highlight(%-5level) %-50logger{40} : %msg%n</Pattern> -->
        <!--     </layout> -->
        <!-- </encoder> -->
    </appender>

    <!-- Rolling file appender configuration -->
    <!-- ${LOG_FILE} property resolves value from the property logging.file.name in Spring Boot’s external configuration -->
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- date,priority,class,thread, message, newline -->
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] ${PID} %-5level %-50logger{40} : %msg%n</Pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 5 MegaBytes -->
            <!-- %- increment the log files to 1.2...n -->
            <!-- ${LOG_PATH} property resolves value from the property logging.file.path in Spring Boot’s external configuration -->
            <fileNamePattern>${LOG_PATH}/archived/log_%d{dd-MM-yyyy}_%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>10</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Log levels -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
        <appender-ref ref="MDCAppender" />
    </root>

</configuration>